@import "../../../../assets/styles/variables";

.appheader {
  width: 100%;
  padding: 20px 20px;
  background: $color-base-100;
  color: $color-base-700;
  border-bottom: 1px solid $color-base-200;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.appheader_title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: $color-base-600;
}

.appheader_nav {
  margin-left: auto;
}

.appheader_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.appheader_menuitem {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  background: transparent;
  color: $color-base-400;
  border-radius: 4px;
  margin: 0 5px;
}

.appheader_menulink {
  display: inline-block;
  color: currentColor;
  padding: 9px 12px;

  &:hover {
    text-decoration: none;
    color: currentColor;
  }
}
