//
// Color palette definition
//

$color-base-100: #fff;
$color-base-200: #eee;
$color-base-400: #888;
$color-base-600: #283845;
$color-base-700: #202c39;

$color-primary-400: #8832F5;
$color-primary-600: #2F6690;

//
// Fonts
//

$font-family-primary: 'Roboto', sans-serif;